#time {
    /* font-size: 100vw; */
    padding-left: 15vw;
    padding-bottom: 5vh;
}

#coord {
    padding-left: 1vh;
    font-size: 3.5vw;
    padding-top: 1.5vh;
}

#horizontal{
    padding-top: 1vh;
}

