menu {
    /* padding: 30px; */
    padding-top: 2.3vh;
}

a {
    /* scroll-behavior: smooth; */
    text-decoration: none;
    
}

#bar{
    font-size: 1.5vh;
    color: rgb(80, 80, 80);
    /* margin-left: 82vw; */
}
h1{
    margin-bottom: 10%;
    margin-top: 10%;
}

body { 
    color: rgb(97, 96, 96);
    font-family: "EB Garamond", serif;
 }

#moon{
    position: fixed;  
    color: rgb(91, 91, 91);
}

#menubar{
    /* margin-left: 4vw; */
    padding-top: 2.3vh;

}

#quote{
    margin-top: 13vh;
    margin-bottom: 5vh;
}

@media (max-width: 800px) {
#quote {
        margin-top: 8vh;
        margin-bottom: 5vh;
    }
}
#firstpage{
    padding-right: 3vw;
    margin-bottom: 20vh;
    font-style: italic;

}
img {
    /* margin: 5px; */
    width: 100%;
}

#pics{
    padding-left: 0;
    padding-right: 1px;
}


#intro{
    margin-top: 10vh;
}

.col-xs-6{
    padding-left: 0px;
    padding-right: 0px;
}

.col-xs-6 #picsr {
    padding-left: 1px;
    padding-right: 0px;
}
/* #verticalimg{
    padding-left: 20px;
} */

.box { 
    height: 12vh;
    width: 30vw;
    /* margin-bottom: 15px; */
    background-color:rgb(255, 255, 255);
    /* clear: both; */
}
#sep{
    padding-top: 5vh;
    padding-bottom: 5vh;
}
/* #intro{
    margin-top: 1vh;
    /* width: 10vw; */
    /* width: 300px; */

    #headline{
     padding-bottom: 5vh;
    }
#coord{
    font-size: 4vw;
     padding-top: 3vh;
 }
 .row{
    margin-left: 0;
    margin-right: 0;
 }

 #time{
    padding-top: 0.5vh;
    font-size: 3vw;
        padding-left: 20vw;
    padding-bottom: 5vh;
 }
 #horizontal{
    padding-top: 1.5vh;
 }

 #verticaltime{
    font-size: 4vw;
     padding-left: 13vw;
        /* padding-top: 5vh; */
 }

 #verticaltimeLeft{
    font-size: 4vw;
    padding-left: 7vw;
 }
 
 #verticaltime1 .row{
    font-size: 4vw; 
    padding-left: 3vw;
 }
 

title {
    font-size:small;
}



#mfooter{
    margin-top: 3vh;
    margin-bottom: 4vh;

}
hr{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#name1{ 
    font-size: 10vw;
    
    /* margin-right: 3vw; */
    font-weight: 600;
}

#name2 {
    font-size: 7vw;
    /* margin-left: 92vw; */
    font-weight: 600;
    padding-bottom: 3vh;

}


#email{
    /* padding-top: 3vh; */
    color: rgb(80, 80, 80);
    /* margin-left: 82vw; */
}

footer{
    padding-bottom: 4vh;
    padding-right: 4vh;
}

#end{
    margin-bottom: 5vh;
}



#card{
    position: relative;
    transform-style: preserve-3d;
    width: 60vw;
    height: 40vh;
    left: 7vw;
}

#front{
    backface-visibility: hidden;
        position: absolute;
    top: 0;
        left: 0;
        z-index: 1;
}



#back{
    opacity: 50%;
    position: absolute;
    top :0;
    left: 0;
    text-align: center;
    transform: rotateY(180deg);

}

#centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}

#card.active{
    transform: rotateY(180deg);
}

#gif{
    width: 20vw;
   padding-top: 10vw;
   padding-left: 20vw;
}