menu {
    /* padding: 30px; */
}

a {
    /* scroll-behavior: smooth; */
    text-decoration: none;
    
}

#bar{
    font-size: 1.25vh;
    color: rgb(80, 80, 80);
    /* margin-left: 82vw; */
}
h1{
    margin-bottom: 10%;
    margin-top: 10%;
}

body {
    margin-top: 2.3vh;
    margin-left: 3.3vw;
    margin-right: 3.3vw;
    color: rgb(97, 96, 96);
    font-family: "EB Garamond", serif;
}

#moon{
    position: fixed;  
    color: rgb(91, 91, 91);
}

#menubar{
    /* margin-left: 4vw; */
}

title {
    font-size:small;
}
img{
    margin:10px;
    margin-bottom: 300px;
    width: 300px;
}


#mfooter{
    margin-top: 100px;
    margin-bottom: 10vh;

}
hr{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#name1{
    display: flex;
    font-size: 3vw;
    
    margin-left: 85vw;
    font-weight: 600;
}

#name2 {
    font-size: 2vw;
    margin-left: 92vw;
    font-weight: 600;

}

#email{
    padding-top: 2vh;
    font-size: 1vw;
    margin-left: 82vw;
}

footer{
    padding-bottom: 4vh;
}

