menu {
    /* padding: 30px; */
    padding-top: 2.3vh;
}

a {
    /* scroll-behavior: smooth; */
    text-decoration: none;
    
}

#bar{
    font-size: 1.5vh;
    color: rgb(80, 80, 80);
    /* margin-left: 82vw; */
}
h1{
    margin-bottom: 10%;
    margin-top: 10%;
}

body {
    margin-left: 3.3vw;
    margin-right: 3.3vw;
    color: rgb(97, 96, 96);
    font-family: "EB Garamond", serif;
}

#moon{
    position: fixed;  
    color: rgb(91, 91, 91);
}

#menubar{
    /* margin-left: 4vw; */
    padding-top: 2.3vh;
}

title {
    font-size:small;
}
img{
    margin:10px;
    margin-bottom: 300px;
    width: 300px;
}


#mfooter{
    margin-top: 3vh;
    margin-bottom: 4vh;

}
hr{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#name1{ 
    font-size: 10vw;
    
    /* margin-right: 3vw; */
    font-weight: 600;
}

#name2 {
    font-size: 7vw;
    /* margin-left: 92vw; */
    font-weight: 600;
    padding-bottom: 3vh;

}

#email{
    /* padding-top: 3vh; */
    color: rgb(80, 80, 80);
    /* margin-left: 82vw; */
}

footer{
    padding-bottom: 4vh;
    padding-right: 4vh;
}

#end{
    margin-bottom: 5vh;
}

